@model ProductEditViewModel

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">Product Deleted Successfully</h4>
                </div>
                <div class="card-body">
                    <p>The product has been successfully deleted.</p>
                    <p>You may want to:</p>
                    <ul>
                        <li><a asp-action="Index" asp-controller="Product">Return to Product List</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
