@model Product
<div style="text-align:center; font-size:16px; text-justify:auto;">
    <form method="post" asp-controller="Menu" asp-action="AddProduct" style="padding: 0 100px">
        <h4>Add Product</h4>
        <div>
            Name: <input class="form-control" type="text" asp-for="Name" />
            Description: <input class="form-control" type="text" asp-for="Description" />
            Price: <input class="form-control" type="text" asp-for="Price" />
            Select Category: <select class="form-control" asp-for="ProductCategoryId" asp-items="@(new SelectList(ViewBag.ProductCategories,nameof(ProductCategory.Id),nameof(ProductCategory.Name)))"></select>
            Select Unit: <select class="form-control" asp-for="UnitMeasureId" asp-items="@(new SelectList(ViewBag.UnitMeasures,nameof(UnitMeasure.Id),nameof(UnitMeasure.Name)))"></select>

            @*@Html.DropDownList("ProductCategoryId", new SelectList(ViewBag.ProductCategories, "Id", "Name", Model.ProductCategoryId), "Select Category", new { @class = "form-control" })
            @Html.DropDownList("UnitMeasureId", new SelectList(ViewBag.UnitMeasures, "Id", "Name", Model.UnitMeasureId), "Select Unit", new { @class = "form-control" })*@
            
            <input class="btn btn-sm btn-success" type="submit" value="Add" /><br />
        </div>
    </form>
</div>