<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">Пользователь успешно удален</h4>
                </div>
                <div class="card-body">
                    <p>Пользователь успешно удален.</p>
                    <p><a asp-action="Index" asp-controller="User">Вернуться к списку пользователей</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
